<div class="main">
<h1><a href="/" class="homepage">Black & Yellow - Cars</a></h1>
<div>
    <a href="/cars/search" class="btn-search" id="search_btn">Search</a>
</div>
<br />
    <div class="content">
        <% @cars.slice(0, 10).each do |cars| %>
            <a href="/cars/<%= cars["id"] %>" class="item">
                <div>ID : <%= cars["id"] %></div>
                <div>Brand :<%= cars["brand"] %></div>
                <div>Model : <%= cars["model"] %></div>
                <div>Year: <%= cars["year"] %></div>
            </a>
        <% end %>
    </div>
    
    <button  href="/next" type="button" onclick="next()" class="next" id="btn_index">Next</button>
  
    <a href="/cars/create" class="a-new-el">+</a>
</div>


<script>
    var currentPage = 1;

    (function() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        if(urlParams.get('page') != null) {
            currentPage = urlParams.get('page')
            if(currentPage > 1) {
                var prevBtn = document.createElement("button");
                prevBtn.setAttribute("type", "button");
                prevBtn.setAttribute("onclick", "prev()");
                prevBtn.innerHTML = "Back"
                prevBtn.classList.add("next");
                insertAfter(document.getElementById("btn_index"), prevBtn);
            }
        } else {
            currentPage = 1;
        }
    })();

    function next() {
        currentPage++;
        if(window.location.href.includes("page")) {
            window.location.href = window.location.href.slice(0, -1) + currentPage;
        } else {
            window.location.href = window.location.href + "?page=" + currentPage;
        }
    }

    function prev() {
        if(currentPage > 1) {
            currentPage--;
        }
        if(window.location.href.includes("page")) {
            window.location.href = window.location.href.slice(0, -1) + currentPage;
        } else {
            window.location.href = window.location.href + "?page=" + currentPage;
        }
    }
    
    function insertAfter(referenceNode, newNode) {
        referenceNode.parentNode.insertBefore(newNode, referenceNode);
    }
</script>